@import url("https://use.typekit.net/jmk3xov.css");


* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}
#bg {
    background-image: url('space.jpg');
    background-size: cover;
    background-position: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

nav {
    position: relative;
    width: 80vw;
    height: 100px;
    background: #2D3740;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: white;
    text-decoration: none !important;
    padding: 0 46px;
    z-index: 1;
}
nav a:hover { 
    color: white;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 21%;
    height: 100%;
    background: linear-gradient(120deg, #525252, silver);
    border-radius: 8px;
    transition: .5s;
    opacity: 0.8;
}

nav a:nth-child(1):hover~span {
    left: 0.5%;

}

nav a:nth-child(2):hover~span {
    left: 31%;

}

nav a:nth-child(3):hover~span {
    left: 57%;

}

nav a:nth-child(4):hover~span {
    left: 85%;
    width: 215px;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow-x: hidden;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
   top: 50%;
   left: 35%;
    transform: translate(0%, -50%);
    user-select: none;
    padding: 50px;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
}

.mission {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 65vw;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    opacity: 0.7;
    font-family: 'MontSerrat';
    user-select: none;
    margin-top: 60px;
    padding: 40px;
}

.hidden {
opacity: 0;
filter: blur(5px);
transform: translate(-100%);
animation: ease-in 1s;
}
.show { 
opacity: 1;
filter: blur(0);
transform: translate(0);
}

.video__content video {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 20%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    margin-top: 500px;
}

.accordion-body { 
    position: relative;
}
.accordion { 
    width: 55vw;
    margin: 0 auto;
   margin-bottom: 200px;
   text-align: center;
   user-select: none;
}
.accordion-button { 
    background-color: transparent;
        border: none;
        color: white;
        outline: none;
        font-weight: 400;
        font-size: 24px;
        
}
.accordion-button:active,
.accordion-button:focus {
    outline: none;
    box-shadow: none;
    color: white;
}
.accordion-button:not(.collapsed) { 
    color: white !important;
}
.accordion h1 { 
    position: relative;
    margin-bottom: 30px;
    color: rgb(222, 222, 222);
}